@charset "utf-8";

/*googleips 웹폰트 css 파일 불러오기*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*
font-family: 'Noto Sans KR', sans-serif;
*/
/*font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Galada', cursive; */

/* 저장된 글꼴 파일 선언*/
/* @font-face { font-family : font_gothic;    
                src : url(../font/NanumGothic.ttf); }  */
/* 웹사이트의 글꼴 파일 선언*/
/* @font-face { font-family : font_gothic;    
                src : url(http://uhbee.com/nanum.eot) ; }   */


* {margin:0; padding:0;}
html{font-size:16px;}
body{ font-size:16px;
      color:#6f6f6f;
      font-family: 'Noto Sans KR', sans-serif, brandon-grotesque, sans-serif; }
ul, ol, li{list-style-type:none}
img, fieldset{border:none;vertical-align: middle}
hr {clear:both;border:none}
a {color:inherit;text-decoration:none;
   outline:0}
table{border-collapse:collapse}
input, textarea,
input::placeholder, textarea::placeholder {
      color:inherit;font-size:inherit;
       font-family:inherit;
       vertical-align: middle;
      outline: 0;}
button{outline:0}

.sound_only{display: block;text-indent:-9999999999px;
      height:0}

/**********메인화면, 서브화면 공통영역************/
#wrap{width: 100%; min-width: 1024px; overflow: hidden;}
.inner{min-width: 1000px; width: 1200px; margin: 0 auto;}

#header{height: 70px;}
#header .top_icon{float: right; position: relative;}
#header .top_icon > button{width: 24px; height: 25px; margin-left: 18px;
                           transform: translate(0, 20px); border: none;}

#header .top_icon .all_nav{background: none;position: absolute; top: 7px;}       
#header .top_icon .all_nav span{display: block; width: 24px; height: 3px; 
            background-color: #6E6E6E ;
            margin-bottom: 4px; border-radius: 1px;
            }
#header .top_icon .ch{    
      font-size: 1rem;
      display: inline-block;
      text-align: center;
      color: #333;
      font-weight: 700;
      line-height: 75px;}
#header .top_icon .en{    
      font-size: 1rem;
      display: inline-block;
      text-align: center;
      color: #333;
      font-weight: 700;
      line-height: 75px;}


/*네비4 - 메가 네비100%*/
#header .inner{position: relative;}

#nav4 .depth1{float: left;}

#nav4 .depth1 > li {float: left; padding: 0 15px;}
#nav4 .depth1 > li > a {display: block; 
                      text-align: center; font-size: 1.3rem; color: #333; 
                      font-weight: 700; line-height: 75px;
                      }
#nav4 .depth1 > li > a:after{content: '';height: 3px; background-color: red;
                              position: relative; width: 0px; display: block;
                              transition: 0.5s;}                      
#nav4 .depth1 > li:hover > a:after{width: 100%;}

#nav4 .depth1{position: static;}
#nav4 .depth1 li > a{font-size: 1rem;}
#nav4 .nav_box {position: absolute; /*top:calc(2.8rem + 25px);*/top: 78px; left: 0; width: 100%;
                background-color: rgba(0,0,0,0.5); z-index: 96;
                display: none;
                padding: 10px 0; color: #fff;}

#nav4 .depth1>li:hover .nav_box{display: block; }
#nav4 .nav_box .depth2{width: 100%; margin: 0 auto; position: relative; 
                        /*text-align: center;*/
                        padding-left: 100px; box-sizing: border-box;}
#nav4 .nav_box .depth2:after{content: ''; display: block; clear: both;}
#nav4 .depth2 > li{display: inline-block; box-sizing: border-box;
                    padding: 10px;}
#nav4 .depth2 li > a{font-size: 0.812rem;}

#nav4 .depth2 > li:after{content: ''; display: inline-block; width: 5px; height:5px; 
                         background-color:red; border-radius: 50%; 
                         margin-left: 20px; transform: translate(0, -3px);}
#nav4 .depth2 > li:last-child:after{display: none;}

/*header*/
#header #logo{float: left; padding-top: 10px}
#header #nav4 .depth1{float: left; /*네비완료시 width 삭제*/ }
#header #nav4 .top_icon{position: absolute; right: 40px; top: 0;}

#header #nav4 > ul{height: 75px;}

