h1{font-size: 1.75rem; margin-bottom: 0.5rem;}/*28px*/
h2{font-size: 1.125rem; margin-bottom: 0.5rem;}/*18px*/
h3{font-size: 0.9375rem; margin-bottom: 2.25rem;}/*15px*/

#top_popup{position: relative;}
#top_popup img{width: 100%; min-width: 1024px;}
#top_popup .close{position: absolute; right: 50px; top:calc(50% - 25px); text-indent: -999999px;
                  background:none; border: 0; width: 50px; height: 50px;
                 }
#top_popup .close::before{content: ''; display: block;width: 2px;height: 50px; background-color: #fff; 
                        transform: rotate(45deg); position: absolute; top: 0px;}
#top_popup .close::after{content: ''; display: block;width: 2px;height: 50px; background-color: #fff; 
    transform: rotate(-45deg); position: absolute; top: 0px;}
#top_popup > span{position: absolute; font-size: 1rem;}


.det1{color: #fff; top: calc(50% - 18px); left: 38% ; z-index: 999999; 
    border: 1px solid #fff; border-radius: 40px; padding: 5px 20px;}
.det2{color: #fff;top: calc(50% - 18px); right: 20%; z-index: 999998; 
    border: 1px solid #fff; border-radius: 40px; padding: 5px 20px;}
/*********************section****************************/
#sec1{margin-bottom: 95px;}
#sec1 img{width: 100%;}
/*#sec1 .top_icon .all_nav{}*/
#sec1 .big_banner{width: 60%; margin-top: -11px;
                  margin-right:10px ; float: left; position: relative;}
#sec1 .big_banner .banner_txt{ color: #fff;}  
#sec1 .big_banner .banner_txt h2{position: absolute; top: 200px; left: 30px; font-size: 2rem;
                                  font-weight: 400;}
#sec1 .big_banner .banner_txt h1{position: absolute; top: 260px; left: 30px; font-size: 3.5rem;
                                  font-weight:400;}
#sec1 .big_banner .banner_txt .h1_2{position: absolute; top: 345px; left: 30px; font-size: 3.5rem;}
#sec1 .small_banner{width: calc(40% - 10px); float: right; margin-top: -11px;}
#sec1 .small_banner li{margin-bottom: 11px;}
#sec1 .small_banner li:last-child{margin-bottom: 0;}
#sec1 .small_banner > li{position: relative; overflow: hidden;}
#sec1 .small_banner > li:hover img{transform: scale(1.1);}
#sec1 .small_banner > li:hover h1{transform: scale(1.1);}
#sec1 .small_banner > li:hover p{transform: scale(1.1);}    
#sec1 .small_banner h1{color: #fff; position: absolute; top: 50px; left: 40px;}
#sec1 .small_banner > li:nth-child(2) h1{color: #333333;}
#sec1 .small_banner > li:nth-child(2) p{color: #333333;}
#sec1 .small_banner p{color: #fff; position: absolute; top: 90px; left: 40px;}

#sec1::after{content: ''; clear: both; display: block;}
/*sec1 end*/
#sec2{clear: both;}
#sec2 .inner > div{margin-right:16px ; width:calc((100% - 32px) / 3);
                 overflow: hidden;
                 box-sizing: border-box;
                    float: left;
                    }             
#sec2 .inner > div img{border: 1px solid #e6e6e6; width: 99%; margin-bottom: 1.125rem;}
#sec2 .inner > div:last-child{margin-right:0;}
#sec2:after{content: ''; display: block; clear: both;}
#sec2 h1{margin-bottom: 36px;}
#sec2 .inner > div a{box-sizing: border-box;}
#sec2 .price{margin-bottom: 95px;}
/*sec2 end*/

#sec4{}
#sec4{clear: both;}
#sec4 .inner > div{margin-right:15px ; width:calc((100% - 60px) / 5);
                 overflow: hidden;
                 box-sizing: border-box;
                    float: left; }
#sec4 .inner > div img{border: 1px solid #e6e6e6; width: 99%;  margin-bottom: 1.125rem;}
#sec4 .inner > div:last-child{margin-right:0;}
#sec4:after{content: ''; display: block; clear: both;}
#sec4 .inner > div a{box-sizing: border-box;
                        }
#sec4 .price{margin-bottom: 95px;}
#sec4 .clinic_img img{height: 248px;}
/*sec4 end*/

#sec3{}
#sec3:after{content: ''; display: block; clear: both;}
#sec3 .inner{}
#sec3 h2{margin-bottom: 2.5rem;}
#sec3 .inner img{width: 100%;}
#sec3 .left_news{width: calc(50% - 2px); background-color: red; height: 600px; float: left; margin-bottom: 95px;
                 position: relative; border: 1px solid #e6e6e6; overflow: hidden;}
#sec3 .left_news:hover img{transform: scale(1.1);}
                 #sec3 .left_news img{height: 600px;}
#sec3 .left_news h1{position: absolute; top: 80px; left: 50px; color: #946E59;}
#sec3 .left_news h2{position: absolute; top: 120px; left: 50px; color: #946E59;}
#sec3 .left_news p{position: absolute; top: 150px; left: 50px; color: #946E59;}
#sec3 .right_news{width:50%; height: 600px; float: left; margin-bottom: 95px;}
#sec3 .right_news img{height: 299px;}
#sec3 .right_news li{width: calc(50% - 4px); float: left; border: 1px solid #e6e6e6;}
#sec3 .right_news > li{position: relative; overflow: hidden;}
#sec3 .right_news > li:hover img{transform: scale(1.2);}

/*
#sec3 .right_news > :nth-child(1){border-left: none; border-right: none; border-bottom: none;}
#sec3 .right_news > :nth-child(2){border-bottom: none;border-left: none;}
#sec3 .right_news > :nth-child(3){border-left: none; border-right: none; border-top: none;}
#sec3 .right_news > :nth-child(4){border-top: none; border-left: none; }*/
#sec3 .right_news h1{position: absolute; bottom: 25px; left: 20px; color: #fff;
                     font-size: 1.125rem;}
#sec3 .right_news h2{position: absolute; bottom: -30px; left: 20px; color: #fff;
                    font-size: 0.875rem;}
/*sec3 end*/



#sec5{}
      #sec5 h1 > a{float: right; font-size: 1.125rem;}
#sec5 .notice_wrap > div{/*overflow: hidden;*/float: left; width: calc((100% - 78px) / 3); margin-right: 36px;
                         border: 1px solid #e6e6e6;; position: relative;}
#sec5 .notice_wrap > div:hover img{/*transform: scale(1.1);*/}                         
#sec5 .notice_wrap > div img{width: 100%;}
#sec5 .notice_wrap > div:last-child{margin-right: 0;}
#sec5 .notice_wrap > div .box{border: 1px solid #e6e6e6; width: 90%;  background-color: #E5E5E5;
                              position: absolute; bottom: -80px; right: 0;box-sizing: border-box;
                              padding: 30px 0;
                            }
#sec5 .notice_wrap > div .box dd:first-child{padding-left: 26px; padding-top: 0px;}
#sec5 .notice_wrap > div .box dt{padding-left: 26px; padding-top: 8px; padding-bottom: 8px;}
#sec5 .notice_wrap > div .box dd:last-child{padding-left: 26px; padding-bottom: 0px;}
#sec5::after{content: ''; clear: both; display: block;}

/*sec5 end*/
#sec6{margin-top: 225px; margin-bottom: 95px;}
#sec6::after{display: block; clear: both; content: '';}
#sec6 ul{}
#sec6 ul > li{width: calc((100% - 24px) /3 ); height: 330px; margin-right: 12px;
            float: left; vertical-align: top;
            box-sizing: border-box; color: #fff; padding: 20px;}
#sec6 ul > li h6{font-size: 1.125rem; margin-bottom: 14px;}
#sec6 ul > li.pho{background-color: #124295; padding: 60px 80px; text-align: center;}
#sec6 ul .pho p{text-align: left; padding-bottom: 10px; padding-top: ;}
#sec6 ul .pho .em{ position: relative;}
#sec6 ul .pho .em span{position: absolute; right: 0; top: 0px;}
#sec6 ul .pho p span{float: right;}
#sec6 ul > li.pho .fax{padding-top: 16px;}
#sec6 ul > li.pho .go{border: 1px solid #fff; padding: 6px 23px; display: block; clear: both;
                        margin-top: 12px;}
#sec6 ul > li.pho .call_num{font-size: 1.75rem; margin-bottom: 20px; margin-left: 10px;}
#sec6 ul > li.pho img{margin-top: -10px;}
#sec6 ul > li.merch, #sec6 ul > li.ask{padding: 60px 33px;}
#sec6 ul > li.merch h6, #sec6 ul > li.ask h6{border-bottom: 1px solid rgba(255,255,255,0.1); padding-bottom: 27px;}
#sec6 ul > li.merch h6 a, #sec6 ul > li.ask h6 a{float: right;}
#sec6 ul > li.merch span, #sec6 ul > li.ask span{float: right;}
#sec6 ul > li.merch > div > a, #sec6 ul > li.ask > div > a{display: block; padding-top: 13px;}
#sec6 ul .merch{background-color: #5C77A7;}
#sec6 ul .ask{margin-right:0; background-color:#414141;}






/*********************footer****************************/
#footer{background-color: #222222;}
#footer .inner{height: 200px;}
#footer .wr{ max-width: 1000px;
            margin: 0 auto; }
#footer > div img{width: 46px;}
#footer .ft_link{padding: 15px 0; border-bottom: 1px solid rgba(255,255,255,0.1);}
#footer .ft_link a{margin-right: 20px; color: #999;}
#footer .ft_link .active{color: white;}
#footer .ft_link .logo{margin-right: 30px;}
#footer .ft_info{padding: 20px 0;}
#footer .ft_info p{color: #999;}
#footer .ft_info p:first-child{margin-bottom: 10px;}
#footer .ft_logo{float: right; margin-top: 5px;}
#footer .ft_logo img{width: 30px; height: 30px;}